@page "/"
@inject HubConnection Connection;
@inject CountHubProxy CountHubProxy;
@using Microsoft.AspNetCore.SignalR.Client
@using Pollr.Server.Common

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="@BumpCountAsync">Start Counting</button>
<button class="btn btn-danger" @onclick="@ResetCountAsync">Reset Count</button>


<h2>Messages</h2>

<ul>
    @foreach (var message in Messages)
    {
        <li>@message</li>
    }
</ul>

@functions
{
    private int _currentCount;

    private List<string> Messages { get; } = new List<string>();

    protected override async void OnInit()
    {
        await CountHubProxy.ConnectAsync(UserJoined, CountUpdated);
    }

    private void CountUpdated(int count)
    {
        Messages.Add($@"The current count is {count}!");
        _currentCount = count;
    }

    private void UserJoined(string username)
    {
        Messages.Add($@"{username} has joined!");
        StateHasChanged(); //TODO: Should this really be needed?
    }

    public Task BumpCountAsync()
    {
        return CountHubProxy.BumpCountAsync();
    }

    public Task ResetCountAsync()
    {
        return CountHubProxy.ResetCountAsync();
    }
}