@page "/"
@inject HubConnection Connection;
@using Microsoft.AspNetCore.SignalR.Client
@using Pollr.Server.Common

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="@IncrementCountAsync">Start Counting</button>
<button class="btn btn-danger" @onclick="@ResetCountAsync">Reset Count</button>


<h2>Messages</h2>

<ul>
    @foreach (var message in Messages)
    {
        <li>@message</li>
    }
</ul>

@functions
{
    private int _currentCount;

    private List<string> Messages { get; } = new List<string>();

    protected override async void OnInit()
    {
        Connection.On<string>(HubEvents.UserJoined, username =>
        {
            Messages.Add($@"{username} has joined!");
            StateHasChanged();
        });

        Connection.On<int>(HubEvents.Count, count =>
        {
            Messages.Add($@"The current count is {count}!");
            _currentCount = count;
            StateHasChanged();
        });

        await Connection.StartAsync();
    }

    public Task IncrementCountAsync()
    {
        return Connection.SendAsync(HubEvents.Count);
    }

    public Task ResetCountAsync()
    {
        return Connection.SendAsync(HubEvents.Reset);
    }
}